<html>

<head>
  <title>Group Chat</title>
  <link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
  <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
  <script src="../js/jquery-1.10.2.min.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/chat.js"></script>
  <script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <section class="section">

    <div class="chatLogin">
      <div class="loginInfo">
        <form role="form" class="loginForm">
          <div class="form-group">
            <input type="text" id="selfNickName" class="form-control" placeholder="Enter your nick name"><br/>
          </div>
          <input type="submit" class="form-control btn btn-primary" id="submit" value="Enter"/>
        </form>
      </div>
    </div>

		<div class="member">
			<div class="memberInfo">
        <form role="form" class="loginForm">
          <div class="form-group">
            <input type="text" id="otherNickName" class="form-control" placeholder="Enter your nick name"><br/>
          </div>
          <input type="submit" class="form-control btn btn-primary" id="submit" value="Enter"/>
        </form>
			</div>
		</div>

		<div class="left">
			<div class="info">
				<h4><span class="nickname-left"></span> has left this chat.</h4>
			</div>
		</div>

		<div class="chatscreen">
			<ul class="chats"> </ul>
		</div>

  </section>

  <footer>
		<form id="chatform">
			<textarea id="message" placeholder="Write something.."></textarea>
			<input type="submit" id="submit" value="Send"/>
		</form>
	</footer>

</body>

</html>
