body {
  background-color: #f0f1f3 !important;
}

.btn-lg {
  padding: 30px 36px !important;
  font-size: 18px;
  line-height: 3 !important;
  border-radius: 6px;
  margin-top: 150px !important;
}

.chatLogin, .member  {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 700px;
	height: 400px;
}

.loginInfo, .memberInfo {
	text-align: left;
	float: right;
	margin: 65px 220px 0 0;
}

#selfNickName, #otherNickName {
	float:left;
	width: 200px;
	height: 30px;
	margin-bottom:20px;
	overflow: hidden;
}

#submit {
	width: 75px;
	height: 40px;
	float:left;;
	text-align:center;
	background-color: rgb(66, 139, 202);
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 5px;
	color:white;
	outline: none;
	cursor:pointer;
}
